<h1>Create a new landmark</h1>
<form method="post" action="/landmarks">
  <label for="name">Name</label>
  <input type="text" id="landmark_name" name="landmark[name]"><br />

  <label for="year_completed">Year Completed</label>
  <input type="number" id="landmark_year_completed" name="landmark[year_completed]"><br />

  <input type="submit" value="Create New Landmark">
</form>
